---
const { title, description, tags, author, pubDate, heroImage, heroImageAlt } = Astro.props;
---
<!DOCTYPE html>
<html lang="en"><head>
    <!-- COMMON-HEAD -->
    <!-- SITE INFORMATION -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#d6842c">

<!-- GOOGLE TAG MANAGER -->
<script is:inline type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-DZZQG4GJXM&amp;cx=c&amp;gtm=4e6160"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=AW-795723728&amp;cx=c&amp;gtm=4e6160"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-5F3D3RR"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5F3D3RR');</script>
<!-- /GOOGLE TAG MANAGER -->

<!-- CSS -->
<link is:inline rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link is:inline rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link is:inline rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link is:inline rel="stylesheet" href="/assets/css/owl.transitions.min.css">
<link is:inline rel="stylesheet" href="/assets/css/magnific-popup.min.css">
<link is:inline rel="stylesheet" href="/assets/css/apps.min.css">
<link is:inline rel="stylesheet" href="/css/style.css">
<link is:inline rel="stylesheet" href="/css/responsive.min.css">

<!-- FONT AWESOME -->
<link is:inline href="/assets/fontawesome6/css/fontawesome.min.css" rel="stylesheet">
<link is:inline href="/assets/fontawesome6/css/brands.min.css" rel="stylesheet">
<link is:inline href="/assets/fontawesome6/css/solid.min.css" rel="stylesheet">

<!-- GOOGLE FONTS -->
<link is:inline href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

<!-- FAVICON -->
<link is:inline rel="icon" href="/images/favicon.png">
<link is:inline rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link is:inline rel="apple-touch-icon" sizes="72x72" href="/images/icon-72x72.png">
<link is:inline rel="apple-touch-icon" sizes="114x114" href="/images/icon-114x114.png">

<!-- GOOGLE RICH CARDS ***pendiente de ver que funcione, afegir imatges per país i idioma*** -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "MusicGroup",
        "name": "SAXONARA",
        "image": [
            "https://www.saxonara.com/images/page/saxonara/saxofonista-bodas-eventos.jpg"
        ],
        "member": "Arnald SAXONARA",
        "url": "https://www.saxonara.com",
        "email": "ara@saxonara.com",
        "telephone": "(+34) 625 171 701",
        "logo": "https://www.saxonara.com/images/logo-footer.png",
        "sameAs": [
            "https://www.facebook.com/saxonara",
            "https://www.instagram.com/saxonara_",
            "https://www.twitter.com/saxonara_",
            "https://www.youtube.com/saxonara"
        ]
    }
</script>
<!-- /GOOGLE RICH CARDS -->
    <!-- /COMMON-HEAD -->

    <!-- CANONICAL -->
    <link is:inline rel="canonical" href="{new" url(astro.url.pathname,="" astro.site)}="">

    <!-- SITE INFORMATION -->
    <title>{title}</title>
    <meta name="description" content="{description}">
    <meta name="keywords" content="{tags}">

    <!-- COMMON-OPENGRAPH -->
    <meta property="og:title" content="SAXONARA | Saxophonist for weddings and events">
<meta property="og:description" content="Saxophonist for weddings, events and parties. Live music show for chill-out and dance. Saxophonist available worldwide, see me play frequently in Barcelona, Ibiza, Mallorca, Spain, France and all allover Europe.">
<meta property="og:url" content="https://www.saxonara.com/en/">
<meta property="og:type" content="website">
<meta property="fb:app_id" content="1538455792876175">
<meta property="og:image" content="https://www.saxonara.com/images/og-saxonara.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

<meta property="twitter:title" content="SAXONARA | Saxophonist for weddings and events">
<meta property="twitter:description" content="Saxophonist for weddings, events and parties. Live music show for chill-out and dance. Saxophonist available worldwide, see me play frequently in Barcelona, Ibiza, Mallorca, Spain, France and all allover Europe.">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@saxonara_">
<meta property="twitter:image" content="https://www.saxonara.com/images/og-saxonara.jpg">    <!-- /COMMON-OPENGRAPH -->

</head>

<body class="page">

    <!-- COMMON-BODY -->
    <!-- GOOGLE TAG MANAGER (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F3D3RR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- /GOOGLE TAG MANAGER (noscript) -->    <!-- /COMMON-BODY -->

    <header id="top" class="top-header">
        <!-- COMMON-NAVIGATION-EN -->
        <nav class="navbar navbar-default affix-top" data-spy="affix" data-offset-top="400">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="glue-drawer" aria-label="Open navigation panel">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/en/"><img loading="lazy" src="/images/logo.png" alt="SAXONARA Logo"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/en/about.php">About</a></li>
                <li><a href="/en/videos.php">Videos</a></li>
                <li><a href="/en/repertoire.php">Playlists</a></li>
                <li class="dropdown">
                    <a href="/en/dj-sax.php">DJSAX</a>
                    <ul class="dropdown-menu">
                        <li><a href="/en/dj-sax.php#ibizasunset">Ibiza Sunset</a></li>
                        <li><a href="/en/dj-sax.php#clubparty">Club Party</a></li>
                        <li><a href="/en/dj-sax.php#poolparty">Pool Party</a></li>
                    </ul>
                </li>

                <li><a href="/en/violin-sax.php">Violin &amp; Sax</a></li>
                <!--<li><a href="/en/spanish-guitar.php">Spanish Guitar</a></li>-->

                <li class="dropdown">
                    <a href="/en/saxophonist-wedding.php">Weddings</a>
                    <ul class="dropdown-menu">
                        <li><a href="/en/saxophonist-wedding.php#ceremony">Ceremony</a></li>
                        <li><a href="/en/saxophonist-wedding.php#cocktail">Cocktail</a></li>
                        <li><a href="/en/saxophonist-wedding.php#party">Party DJ &amp; SAX</a></li>
                        <li><a href="/en/saxophonist-wedding.php#more">More</a></li>
                    </ul>
                </li>
                <li><a href="/saxonara-files/">Blog</a></li>
                <li><a href="/en/contact.php">Contact</a></li>
                <li class="dropdown">
                    <a><i class="fa-solid fa-language"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cat/">Catalan</a></li>
                        <li><a href="/en/">English</a></li>
                        <li><a href="/fr/">French</a></li>
                        <li><a href="/">Spanish</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>        <!-- /COMMON-NAVIGATION-EN -->
    </header>

    <!-- PAGE HEADER -->
    <div class="page-header">
        <div class="container text-center">
            <h1 class="page-title">{title}</h1>
            <p class="page-subtitle"><span class="banner-highlight">{description}</span></p>
        </div>
    </div>
    <!-- /PAGE HEADER -->

    <div class="main-wrap">

        <div class="section section-padding">
            <div class="container">
                <div class="row">



                        <main>
                            <slot /> </main>




                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
    <a class="instagram-feed-link" href="/en/videos.php" title="videos saxonara">WATCH MY VIDEOS</a>
        
    <div class="logo-social-area section-padding text-white">
        <div class="container text-center">
            <a class="logo logo-footer">
                <img loading="lazy" src="/images/logo-footer.png" alt="SAXONARA Logo">
            </a>
        </div>
        <div class="container text-center">
            <div class="footer-contact" id="contact">
                <a class="btn" href="https://wa.me/34625171701" target="_blank"><i class="fa-solid fa-phone"></i> / <i class="fa-brands fa-whatsapp"></i> (+34) 625 171 701</a>

                <a class="btn" href="mailto:ara@saxonara.com?subject=www.saxonara.com" target="_blank"><i class="fa-solid fa-envelope"></i> ara@saxonara.com</a>
            </div>
            <div class="socials">
                <a href="https://open.spotify.com/artist/1czGxMkEMmilWKoDwuMu5V?si=Cyn7e1mpTI2lt_zWdcEgdg" target="_blank" rel="noopener" title="spotify SAXONARA"><i class="fa-brands fa-spotify"></i></a>

                <a href="https://www.instagram.com/saxonara_/" target="_blank" rel="noopener" title="instagram SAXONARA"><i class="fa-brands fa-instagram"></i></a>

                <a href="https://www.youtube.com/@saxonara" target="_blank" rel="noopener" title="youtube SAXONARA"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-menu">
        <div class="container">
            <div class="row">

                <div class="col-sm-3 col-xs-6">
                    <h6>Hire Saxophonist</h6>
                    <p><a href="/en/saxophonist-barcelona.php">Saxophonist in Barcelona</a></p>
                    <p><a href="/en/saxophonist-mallorca.php">Saxophonist in Mallorca</a></p>
                    <p><a href="/en/saxophonist-ibiza.php">Saxophonist in Ibiza</a></p>
                    <p><a href="/en/saxophonist-madrid.php">SAXONARA in Madrid</a></p>
                    <p><a href="/en/sax-costabrava.php">Live Saxophonist at La Costa Brava</a></p>
                    <p><a href="/en/saxophonist-paris.php">Saxophonist in Paris</a></p>
                    <p><a href="/en/saxophonist-spain.php">Saxophonist in Spain</a></p>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <h6><a href="/en/saxophonist-wedding.php">Wedding Saxophonist</a></h6>
                    <p><a href="/en/saxophonist-wedding.php#ceremony">Wedding Ceremony</a></p>
                    <p><a href="/en/saxophonist-wedding.php#cocktail">Live music at Cocktails</a></p>
                    <p><a href="/en/saxophonist-wedding.php#party">Party DJ &amp; SAX</a></p>
                    <p><a href="/en/saxophonist-wedding.php#more">More</a></p>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <h6>Music for events</h6>
                    <p><a href="/en/dj-sax.php">DJ &amp; SAX</a></p>
                    <p><a href="/en/dj-sax.php#poolparty">Pool Party Sax</a></p>
                    <p><a href="/en/spanish-guitar.php">Spanish Guitar</a></p>
                    <p><a href="/en/violin-sax.php">Violín &amp; Sax</a></p>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <h6><a href="/en/contact.php">Contact</a></h6>
                    <p><a href="https://wa.me/34625171701" target="_blank"><i class="fa-solid fa-phone"></i> <i class="fa-brands fa-whatsapp"></i> (+34) 625 171 701</a></p>
                    
                    <p><a href="mailto:ara@saxonara.com?subject=www.saxonara.com" target="_blank"><i class="fa-solid fa-envelope"></i> ara@saxonara.com</a></p>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <h6>Language</h6>
                    <p><a href="/">Spanish</a> · <a href="/cat/">Catalan</a> · <a href="/en/">English</a> · <a href="/fr/">French</a></p>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Whatsapp Button -->
    <a href="https://wa.me/34625171701" class="whatsapp" target="_blank" aria-label="Open Whatsapp"> <i class="fa-brands fa-whatsapp"></i></a>
    
</footer>    <!-- /FOOTER -->

    <!-- COMMON-BODY-SCRIPT -->
    <script is:inline src="/assets/js/jquery.min.js"></script>
<script is:inline src="/assets/js/bootstrap.min.js"></script>
<script is:inline src="/assets/js/owl.carousel.min.js"></script>
<script is:inline src="/assets/js/jquery.magnific-popup.min.js"></script>
<script is:inline src="/js/custom.min.js"></script>    <!-- /COMMON-BODY-SCRIPT --><iframe height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </body>
</html>