---
import { getCollection, render } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(post => ({
    // Fem servir 'id' o 'slug' segons el que tingui el fitxer
    params: { slug: post.id || post.slug }, 
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<MainLayout title={post.data.title} description={post.data.description}>


<div class="blog-single">

    <!-- ARTICLE CONTENT -->
    <article class="post">
        <div class="post-thumb">
            <img class="img-responsive" src={post.data.heroImage} alt={post.data.heroImageAlt || ""}>
        </div>
        <div class="post-content">
            <div class="post-metas">
                <a class="author-meta post-meta" href="#">{post.data.author}</a>
                <p class="post-date post-meta">{post.data.pubDate.toLocaleDateString('en-GB')}</p>
            </div>
            <div class="post-entry">
                <Content />
            </div>
        </div>
    </article>
    <!-- /ARTICLE CONTENT -->

    <!-- ABOUT THE AUTHOR -->
    <div class="author-box">
        <!-- <div class="author-thumb"><img class="img-responsive" src="../images/blog/author.jpg" alt="..."></div> -->
        <div class="author-about">
            <h4 class="author-name">{post.data.author}</h4>
            <p class="author-bio">Arnald SAXONARA is a <strong>professional saxophonist</strong> specialized in <strong>weddings and luxury events</strong> across Europe. With a unique style that blends <strong>live saxophone with DJ sets</strong>, he performs at ceremonies, cocktail hours, private parties, and <b>iconic venues from Ibiza to Paris</b>. Known for his energy, elegance and musical versatility, he brings unforgettable live experiences to every celebration. Based in Barcelona and available for <strong>destination events worldwide</strong>.</p>
            <!-- <a class="author-post-link" href="#">View all Posts <i class="fa fa-long-arrow-right"></i></a> -->
        </div>
    </div>
    <!-- /ABOUT THE AUTHOR -->

</div>

</MainLayout>